.updateUser{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Quicksand, Helvetica, Arial;
}
.title{
    margin-top: 150px;
    text-align: center;
    font-weight: 10;
    font-size: 28px;

    /*flex items-center text-black-1 text-[28px] font-bold*/

}
.body{
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
.profile{
    padding: 10px;
}
.profile img {
    width: 20px; /* Độ rộng của hình ảnh */
    height: 20px; /* Độ cao của hình ảnh */
    margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản "Profile" */
    padding-top: 5px;
}
.profile span {
    margin-top: 102px;
    font-weight: bold;
    font-size: 20px;
}

.avatar {
    margin-top: 10px;
}
.avatar span {
    margin-left: 20px;
}
.lineAvatar {
    font-size: 18px;
}
#line1 {
    margin-top: 310px;
    margin-left: 100px;
    width: 300px;
}
#line2 {
    margin-top: 350px;
    margin-left: 100px;
    width: 300px;
}
.form-control {
    color: #BBCBDB;
    font-size: 14px;

}
.body button{
    margin-top: 10px;
    margin-left: 5px;
}

.image{
    margin-left: 200px;
}