@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar-vertical {
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: white; /* Màu nền của phần tử */
}
.elementNav:hover {
    background-color: aquamarine;
}
.info-login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
